<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Farmer's Friend</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="application/javascript">
        (function(w,d,s,o,f,js,fjs){w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments);};(js=d.createElement(s)),(fjs=d.getElementsByTagName(s)[0]);js.id=o;js.src=f;js.async=1;js.referrerPolicy = "origin";fjs.parentNode.insertBefore(js,fjs);})(window,document,"script","copilot","https://script.copilot.live/v1/copilot.min.js?tkn=cat-0ebd472h");
        copilot("init",{});
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
</head>
<body style="background-image: linear-gradient(to top right, #C1C8E4, #84CEEB); background-attachment: fixed;">
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <img src="https://github.com/ColinJ69/Farmers_Friend/raw/main/logo1.png" height="48" width="112" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/score'>Score</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/tutorials'>Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/recommendations'>Recommendations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/detection'>Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/grants'>Grants</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 style="color: white; position: absolute; top: 10%; left: 34%;">Scan your crops for diseases</h1>


    <form method='get' action='#'>
        <input type="submit" style="color: white; border-width:10px; position: absolute; top: 20%; left: 40.5%;border-color: white; font-size: 3rem; background-color: #C1C8E4; border-radius: 10px; width: 300px; height: 140px;" value="Scan" name="Scan" />

    </form><br /><br />
    {% if submitted %}
    <div class="d_form">
        <h2>Results</h2>
        <hr style="color: white;" />

        {% if results == 'Healthy' %}
        <h4 style="border-color: white">Your crop is {{results}}</h4>

        {% elif result == 'Powdery' %}
        <h4>Your crop is {{result}}</h4>
        <br />
        <h5>Some things you can do:</h5><br />
        <ul>
            <li>Improve air circulation</li>
            <li>Space plants adequately</li>
            <li>Trim lower leaves</li>
            <li>Avoid over-wetting</li>
        </ul>
        {% elif result == 'Rust' %}

        <h4>Your crop has {{result}}</h4>
        <br />
        <h5>Some things you can do:</h5>
        <ul>
            <li>Remove infected leaves</li>
            <li>Reduce moisture</li>
            <li>Use a fungicide</li>
            <li>Reduce amount of nitrogen</li>



        </ul>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>