﻿
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tutorials</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <title>Sustainable</title>
    <style>
        .subtitles {

            font-size: 18px;
        }

        .text {
            font-size: 12px;
        }
    </style>
</head>
<body style="background-image: linear-gradient(to top right, #C1C8E4, #84CEEB)">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-custom justify-content-end">
        <img src="https://github.com/ColinJ69/Farmers_Friend/raw/main/logo1.png" height="48" width="112" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/score">Score</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/tutorials'>Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/recommendations'>Recommendations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/detection'>Detection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/grants'>Grants</a>
                </li>
            </ul>
        </div>

    </nav>
    <br /><br /><br /><br /><br /><br /><br />
    <h1 style="position:absolute; top:10%; right:7%">Sustainable agriculture</h1>
    <div class="ts">




        <h4 class="subtitles" style="font-size: 18px">Rotating crops and embracing diversity</h4><br /><p class="text">Planting a variety of crops can have many benefits, including healthier soil and improved pest control. Crop diversity practices include intercropping (growing a mix of crops in the same area) and complex multiyear crop rotations.</p>
        <h4 classs="subtitles" style="font-size: 18px">Planting cover crops and perennials</h4><br /><p class="text">The choice of sowing method (manual or mechanical) largely depends on the crop type and scale of the farm. Precision agriculture techniques are increasingly used to ensure optimal spacing and depth for the seeds, enhancing growth prospects.</p>
        <h4 classs="subtitles" style="font-size: 18px">Reducing or eliminating tillage</h4><br /><p class="text">Efficient irrigation systems are vital in the Modern Farming Ecosystem, especially in regions with unpredictable rainfall. Alongside, appropriate fertilization (organic or synthetic) ensures that crops receive essential nutrients for growth.</p>
        <h4 classs="subtitles" style="font-size: 18px">Applying integrated pest management (IPM)</h4><br /><p class="text">Integrated pest management strategies, including the use of biocontrol agents and crop rotation, help manage pests and diseases with minimal ecological impact. This step is vital to safeguard crop yields and quality.</p>
        <h4 classs="subtitles" style="font-size: 18px">Integrating livestock and crops</h4><br /><p class="text">The timing of the harvest is critical and is often determined by monitoring crop maturity. Modern machinery facilitates efficient harvesting, especially for large-scale farms.</p>
        <h4 class="subtitles" style="font-size: 18px">Managing whole systems and landscapes</h4><br /><p class="text">Sustainable farms treat uncultivated or less intensively cultivated areas as integral to the farm. For example, natural vegetation alongside streams, or strips of prairie plants within or around crop fields, can help control erosion, reduce nutrient runoff, and support bees and other pollinators and biodiversity in general.</p>
        <h4 class="subtitles" style="font-size: 18px">Adopting agroforestry practices</h4><br /><p class="text">This includes cleaning, sorting, packaging, and storing the produce. Post-harvest handling is crucial for maintaining the quality of the crop until it reaches the consumer.</p>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iloAQmroRK0?si=Po-nJ4oelKt_J9Eg" allowfullscreen></iframe>
    </div>
</body>

</html>